<app-header></app-header>
<!-- inner banner -->
<section class="w3l-inner-banner-main">
    <div class="aboutshop-inner">
        <div class="wrapper">

            <ul class="breadcrumbs-custom-path">
                <h3>Sports shop</h3>
                <p>All the essential sport equipments are available</p>
            </ul>
        </div>
    </div>
</section>
<!-- //covers -->

<!-- products -->
<section class="w3l-products-1">
	<div class="products1">
		<div class="wrapper">
			<div class="products1-content">
				<div class="column">
					<a href="/shopmore"><img src="assets/images/p6.jpg" class="img-responsive" alt="" /></a>
					<h4><a href="/shopmore">Sport Shoe</a></h4>
					<div class="procolm">
						<p>$25.00</p>
						<del>$35.00</del>
					</div>

						<a href="/shopmore" class="btn ecom_bt">Add To Cart</a>
				</div>
				<div class="column">
						<a href="ecommerce-single.html"><img src="assets/images/OIP2.jpeg" class="img-responsive" alt="" /></a>
					<h4><a href="ecommerce-single.html">Baseball bat and ball</a></h4>
					<div class="procolm">
							<p>$45.00</p>
							<del>$55.00</del>
						</div>

						<a href="#" class="btn ecom_bt">Add To Cart</a>
				</div>
				<div class="column">
						<a href="ecommerce-single.html"><img src="assets/images/OIP1.jpeg" class="img-responsive" alt="" /></a>
					<h4><a href="ecommerce-single.html">Cricket bat</a></h4>
					<div class="procolm">
							<p>$25.00</p>
							<del>$35.00</del>
						</div>

						<a href="#" class="btn ecom_bt">Add To Cart</a>
				</div>
				<div class="column">
						<a href="ecommerce-single.html"><img src="assets/images/OIP3.jpeg" class="img-responsive" alt="" /></a>
					<h4><a href="ecommerce-single.html">Table Tennis Rackets</a></h4>
					<div class="procolm">
							<p>$35.00</p>
							<del>$45.00</del>
						</div>

						<a href="#" class="btn ecom_bt">Add To Cart</a>
				</div>
				<div class="column">
						<a href="ecommerce-single.html"><img src="assets/images/OIP.jpeg" class="img-responsive" alt="" /></a>
					<h4><a href="ecommerce-single.html">Basket ball</a></h4>
					<div class="procolm">
							<p>$105.00</p>
							<del>$115.00</del>
						</div>

						<a href="#" class="btn ecom_bt">Add To Cart</a>
				</div>
				<div class="column">
						<a href="ecommerce-single.html"><img src="assets/images/p7.jpg" class="img-responsive" alt="" /></a>
						<h4><a href="ecommerce-single.html">Sport Shoe</a></h4>
						<div class="procolm">
								<p>$25.00</p>
								<del>$35.00</del>
							</div>

							<a href="#" class="btn ecom_bt">Add To Cart</a>
					</div>
					<div class="column">
							<a href="ecommerce-single.html"><img src="assets/images/s.jpg" class="img-responsive" alt="" /></a>
							<h4><a href="ecommerce-single.html">Hockey Stick</a></h4>
							<div class="procolm">
									<p>$55.00</p>
									<del>$65.00</del>
								</div>

								<a href="#" class="btn ecom_bt">Add To Cart</a>
						</div>
						<div class="column">
								<a href="ecommerce-single.html"><img src="assets/images/images2.png" class="img-responsive" alt="" /></a>
								<h4><a href="ecommerce-single.html">Basketball Hoop</a></h4>
								<div class="procolm">
										<p>$125.00</p>
										<del>$135.00</del>
									</div>

									<a href="#" class="btn ecom_bt">Add To Cart</a>
							</div>
							<div class="column">
									<a href="ecommerce-single.html"><img src="assets/images/images7.jpeg" class="img-responsive" alt="" /></a>
									<h4><a href="ecommerce-single.html">Netball net</a></h4>
									<div class="procolm">
											<p>$25.00</p>
											<del>$35.00</del>
										</div>

										<a href="#" class="btn ecom_bt">Add To Cart</a>
								</div>
								<div class="column">
										<a href="ecommerce-single.html"><img src="assets/images/swimmingset.jpg" class="img-responsive" alt="" /></a>
										<h4><a href="ecommerce-single.html">Swimming Equipments</a></h4>
										<div class="procolm">
												<p>$225.00</p>
												<del>$335.00</del>
											</div>

											<a href="#" class="btn ecom_bt">Add To Cart</a>
									</div>
									<div class="column">
											<a href="ecommerce-single.html"><img src="assets/images/R.jpeg" class="img-responsive" alt="" /></a>
											<h4><a href="ecommerce-single.html">Badminton rackets</a></h4>
											<div class="procolm">
													<p>$35.00</p>
													<del>$45.00</del>
												</div>

												<a href="#" class="btn ecom_bt">Add To Cart</a>
										</div>
										<div class="column">
												<a href="ecommerce-single.html"><img src="assets/images/p4.jpg" class="img-responsive" alt="" /></a>
												<h4><a href="ecommerce-single.html">Sport Shoe</a></h4>
												<div class="procolm">
														<p>$25.00</p>
														<del>$35.00</del>
													</div>

												<a href="#" class="btn ecom_bt">Add To Cart</a>
											</div>
			</div>
		</div>
	</div>
</section>
<!-- //products1 -->
<app-footer></app-footer>
