<!--<app-header></app-header>-->

<!--<div class="upload_container">-->
<!--  <p class="upload" style="font-size: 30px"> Your payment slip has been successfully uploaded. </p>-->
<!--  <p class="upload" style="font-size: 30px"> you will receive a conformation mail soon.</p>-->
<!--</div>-->

<!--<app-footer></app-footer>-->

<div>
  <h1>Angular Stripe Checkout Example</h1>
  <button (click)="makePayment(10)">Pay $10</button>
  <button (click)="makePayment(15)">Pay $15</button>
  <button (click)="makePayment(20)">Pay $20</button>
</div>
